/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.mid-section {
	height: 1064px;
	width: 1064px;
}
.main {
	overflow:hidden;
}

/***********************
 * App
 */
.app {
	padding: 50px;
}
.canvas-area {
    padding:50px;
}

.controls {
    width: 800px;
    margin-bottom: 50px;
}


/***********************
 * Text input and Labels
 */
.mat-label {
  display: block;
  font-size: 16px;
  transform: translateY(25px);
  color: #e2e2e2;
  transition: all 0.5s;
}

.mat-input {
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
}

.mat-div {
  padding: 30px 0 0 0;
  position: relative;
}

.mat-div:after, .mat-div:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2; 
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.mat-div::after {
  background-color: #8E8DBE;
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .mat-label {
  color: #8E8DBE;
}

.is-completed .mat-label {
  font-size: 12px;
  transform: translateY(0);
}


/***********************
 * Wall
 */
.wall {
    height:90%;
    width:100%;
    margin-top:1%;
}


/***********************
 * Cards
 */
.card-wall-wrapper {
    width: 25%;
    height: 20%;
    float:left; 
    margin-right:5%;
    margin-bottom:5%;
    
    position: relative;
    display: inline-block;
    overflow: visible;
    z-index: 0;
}

.card-app-wrapper {
    width: 40%;
    height: 30%;
    float:left; 
    margin-right:5%;
    margin-bottom:5%;
}

.card.app-card {
    height:100%;
    width:100%;
    margin-bottom: 5px;
}

.card.wall-card {
    position: absolute; 
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    z-index: 1;
    transition: width 0.3s, height 0.3s;
}

.card.large {
    z-index: 10;
    background: #fff;
    width: 250%;
    height: 300%;
    transition: width 0.3s ease 0.3s, height 0.3s ease 0.3s;
}

.likebutton:hover {
    cursor:pointer;
}